.reportsdetailedbutton{ 
    border:1px solid #c6d2d9;
    display: flex;
    align-items: center;
    width: 9em;
    height: 3em;
    background-color: white;
    border-radius: 4px;
    }
    
    .reportdetailedtimebutton{
text-transform: unset;  
color: gray; 
padding-left: 1.2em; }

.reportsdetailedbutton:hover{
    background-color:rgb(230, 223, 223);
    cursor: pointer;
    color: rgb(81, 80, 80);
    
}
.reportdetailauditoverall{
    display: flex;
    width: 100%;
    border: 1px solid #c6d2d9;
    background-color: white;
    margin-bottom: 1.5em;
    padding: 8px;
}
.reportdetaileddottedborder{
    border-right: 1px dotted #C6D2D9;
    margin-top: 6px;
    height: 2.5em;
  }
  .reportsDetailedshowingtext{
      padding-left: 1em;
      color:gray
  }