.reportsdetailedbutton{ 
    border:1px solid #c6d2d9;
    display: flex;
    align-items: center;
    width: 9em;
    height: 3em;
    background-color: white;
    border-radius: 4px;
    }
    
    .reportdetailedtimebutton{
text-transform: unset;  
color: gray; 
padding-left: 1.2em; }

.reportsdetailedbutton:hover{
    background-color:rgb(230, 223, 223);
    cursor: pointer;
    color: rgb(81, 80, 80);
    
}
.reportdetailauditoverall{
    display: flex;
    width: 100%;
    border: 1px solid #c6d2d9;
    background-color: white;
    margin-bottom: 1.5em;
    padding: 8px;
}
.reportdetaileddottedborder{
    border-right: 1px dotted #C6D2D9;
    margin-top: 6px;
    height: 2.5em;
  }
  .reportsDetailedshowingtext{
      padding-left: 1em;
      color:gray
  }

  .weeklyheaderpart{
    border: 1px solid #c6d2d9;
  border-radius: 2px;
  background-color: rgb(228, 234, 238);
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 1.7em;
  color: #999;
  font-size: 13px;
}



.leftpart{

display: flex;
width: 58%;
}
.rightpart{
display: flex;
width: 42%;
justify-content: space-between;
}

.totaltext{
    display: flex;
    width: 10em;
    align-items: center;
    justify-content: space-between;
}

.img{
    display: flex;
    align-items: center;
}

.textstyle{
    font-size: 20px;
    color: black;
    font-family: Arial;
}

.switchbuttontext{
    display: flex;
    align-items: center;
}
.border {
    display: inline-block;
    margin-right: 0.7143rem;
    width: 0.4286rem;
    height: 0.4286rem;
    vertical-align: middle;
    border-radius: 50%;
;
    
  }
  .reportsdetailedtodo{
      color: #999;
  }