.input {
  width: 35em;
}
.projectheaderleftright {
  display: flex;
  justify-content: space-between;
  width: 80em;
}
.projectheaderborder {
  display: flex;
  justify-content: center;
  width: 95%;
  border: 1px solid rgb(148, 147, 147);
  background-color: white;
}
.projectheaderleft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
}
.projectheaderright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 57%;
}
.textfieldstyle {
  width: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textfieldinputstyle {
  width: 22em;
}
.dropdownmenuflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-left: 9%;
}
.listnamefontsize {
  font-size: 14px;
  color: #666;
}
