.input {
  width: 35em;
}
.projectheaderleftright {
  display: flex;
  justify-content: space-between;
  width: 80em;
}
.projectheaderborder {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #c6d2d9;
  background-color: white;
}
.projectheaderleft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
}
.projectheaderright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 57%;
}
.textfieldstyle {
  width: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.textfieldinputstyle {
  width: 22em;
}
.dropdownmenuflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-left: 9%;
}
.listnamefontsize {
  font-size: 14px;
  color: #666;
}
.border {
  display: inline-block;
  margin-right: 0.7143rem;
  width: 0.4286rem;
  height: 0.4286rem;
  vertical-align: middle;
  border-radius: 50%;
  /* background-color: rgb(244, 67, 54); */
}
