.header{
    display: flex;
    width: 97%;
    justify-content: space-between;
    /* border: 1px solid lightgray; */
    margin: 0px 20px 0px 20px;
    /* background-color: lavender; */
    height: 2.3em;
    align-items: center;
    padding-right:  10px ;
}
.totalnumber{
    width: 16%;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}
.text{
    font-size: 22px;
}
.weektext{
    font-size: 20px;
}