.dropDown {
    width: 90px;
    height: 42px;
    padding: 5px;
    border: 1px solid #999;
    cursor: pointer;
    background-color: #ffffff;
}

.dropDown option {}

.button {
    height: 42px;
    border-radius: 0 !important;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.date2 {
    /* border-radius: 0; */
    height: 42px;
    /* padding: 9px; */
    width: 200px;
    border: none;
    /* border-style: none; */
    outline: none;
}

.date2 input {
    display: none;
    -webkit-appearance: none
}


/* .pie p {
    position: absolute;
    top: 52em;
    right: 62em;
}

.pie PieChart {
    position: relative;
} */

.deff {
    width: 100%;
}