.partheader{
    border: 1px solid lightgray;
    margin: 0px 20px 0px 20px;
    background-color: white;
    height: 4.5em;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}
.left{
    display: flex;
    width: 50%;
    align-items: center;
}
.right{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.border{
    margin-top: 5px;
    border-right: 1px dotted gray;
    height: 3em;
}
.input{
    width: 5em;
    /* height: 5em; */
}
.input1{
    width: 20em;
}
.text{
    font-size: 22px;
    font-weight: 600;
}
.img2{
    font-size: 30px;
    font-weight: 100;
    color: #999;
    cursor: pointer;
}
.img{
    padding-top: 10px;
    cursor: pointer;
}