.input {
    width: 100%;
}

.textfieldprojectstyle {
    width: 30em;
}

.input:hover {
    border: 1px solid whitesmoke;
}

.projectheaderbuttonoutside {
    display: flex;
    align-items: center;
    width: 10em;
}

.projectheaderdottedborde {
    border-right: 1px dotted #C6D2D9;
    margin-top: 6px;
    height: 2.5em;
}

.projectheaderleftright {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #c6d2d9;
    background-color: white;
    margin-bottom: 4em;
    padding: 8px;
}

.projectheaderborder {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #c6d2d9;
    background-color: white;
}

.projectheaderleft {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.projectheaderright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 57%;
}

.textfieldstyle {
    width: 24em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.textfieldinputstyle {
    width: 22em;
    border: 1px solid #c6d2d9;
}

.textfieldinputstyle:hover {
    border: 1px solid #919aa0;
}

.dropdownmenuflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-left: 9%;
}

.listnamefontsize {
    font-size: 14px;
    color: #666;
}

.border {
    display: inline-block;
    margin-right: 0.7143rem;
    width: 0.4286rem;
    height: 0.4286rem;
    vertical-align: middle;
    border-radius: 50%;
}


/* .hovereffect:hover {
   background-image: url("../../../public/image/favoriteshover.svg");
  } */