.droptext {
    /* background-color: #4CAF50; */
    color: #00ccff;
    padding: 10px;
    font-size: 16px;
    font-family: Arial;
    /* font-weight: 400; */
    /* border: none; */
    cursor: pointer;
  }
  .border{
    border-bottom: 1px solid rgb(190, 187, 187);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .imgdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .imgstyle{
    /* padding-top: 4px; 
  } */
  /* .imgstyle1{
    padding-top: 10px;
  }
  .imgstyle2{
    padding-top: 10px;
  } */
  
   
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: white;
    right: 20px;
    width: 20em;
    /* padding: 10px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .textfield{
    display: flex;
    align-items: center;
    margin: 10px ;
  }
  .dropdowncontent p {
    color: black;
     padding: 10px; 
    text-decoration: none;
    display: block;
  }
  .dropdowncontent .headerinput1{
    width: 18.5em;
  }
  /* .dropdowncontent p:hover {background-color: #f1f1f1} */
  
  .dropdown:hover .dropdowncontent {
    display: block;
  }
  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */