html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f5fafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: none;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root {
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: none;
}
.css-zxdg2z {
  padding: 0;
}
.MuiOutlinedInput-input {
  height: 0.4375em;
}
.MuiInputBase-root-MuiInput-root-MuiSelect-root {
  width: 95% !important;
}
/* .MuiInputBase-root-MuiInput-root-MuiSelect-root {
  min-width: 150px !important;
} */
.css-1869usk-MuiFormControl-root {
  min-width: 68px !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  width: 103.5%;
}
