.header{
    
    border: 1px solid rgb(194, 206, 231);
    margin: 0px 20px 0px 20px;
    background-color: white;
    height: 4em;
    display: flex;
    padding: 0 10px 0 10px;
    box-shadow: 1px 1px 3px 3px #ebeaea;
}
.topheaderleft{
    /* display: flex; */
    width: 54%;
}
/* .imgdesign{
    /* padding-top: 50px; 
} */

.topheaderright{
    display: flex;
    width: 44%;
    justify-content: space-between;
    align-items: center;

}
.topheader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dialogbox{
    display: flex;
}
/* .textfeild{
    width: 90%;
} */
.headerinput{
    width: 100%;
}

.body{
    padding: 10px;
    background-color: rgb(245, 248, 250);
    height: 38em;
}
.timer{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial;
}
.img{
    padding-top: 4px;
    cursor: pointer;
}
.img2{
    font-size: 27px;
    font-weight: 100;
    color: #999;
}
.textcolor{
    padding-left: 10px;
    color: turquoise;
    font-size: 18px;

}
/* TimeTracker Subheading Css */
.subheadingheader{
    display: flex;
    width: 97%;
    justify-content: space-between;
    /* border: 1px solid lightgray; */
    margin: 0px 20px 0px 20px;
    /* background-color: lavender; */
    height: 2.3em;
    align-items: center;
    padding-right:  10px ;
}
.totalnumber{
    width: 14%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}
.weektotaltext{
    font-size: 14px;
    color: rgb(148, 147, 147);
    font-family: Arial;

}
.subheadingtext{
    font-family: Arial;
    font-size: 20px;
    /* line-height: 10px; */
    font-weight: 400;
}
.weektext{
    font-size: 14px;
    font-family: Arial;
}
/* TimeTracker Table Header Css*/
.tableheader{
    border: 1px solid rgb(194, 206, 231);
    margin: 0px 20px 0px 20px;
    background-color: lavender;
    height: 2.3em;
    display: flex;
    padding: 0 10px 0 10px;
}
.headingtop{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.numberandimg{
    display: flex;
    width: 14%;
    align-items: center;
    justify-content: space-between;
}
.image1{
    margin-top: 2px;
}
.tabletext{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.tableheadtext{
    font-size: 14px;
    font-family: Arial;
    color: rgb(148, 147, 147);
    padding: 5px;
}
/*TimeTracker Table Part Css*/

.partheader{
    border: 1px solid rgb(194, 206, 231);
    margin: 0px 20px 0px 20px;
    background-color: white;
    height: 4.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    width: 47%;
    align-items: center;
}
.right{
    display: flex;
    width: 52%;
    align-items: center;
    justify-content: space-around;
}
.border{
    /* margin-top: 5px; */
    border-right: 1px dotted rgb(194, 192, 192);
    height: 2.5em;
}
.input{
    width: 5em;
    /* height: 5em; */
}
.input1{
    width: 20em;
}
.Parttext{
    font-size: 18px;
    font-family: Arial;
    font-weight: 400;
}
.dropdownimg{
    /* padding-left: 10px; */
    cursor: pointer;
}
.dropdownwidth{
    width: 10em;
}
/*Main Page*/
.color1{
    color: orange;
}